<h1>Temperate quection in HackerRank</h1>
    <div class="form-group">
      <label for="exampleInputEmail1">Celcius value:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Celcius" [(ngModel)]="c" (ngModelChange) = "changed($event, 'c')">
    </div>
    <div class="form-group">
      <label >Faranhaid value: </label>
      <input placeholder="Faranhaid"  [(ngModel)]="f" (ngModelChange) = "changed($event, 'f')"  >
    </div>

