<!-- <h1>video 1: Read JSON Data From API Using HttpClient </h1> -->
<!-- <app-student-list></app-student-list> -->

<h1>/////////////////////////</h1>
<!-- <h2>video 1: Read JSON Data From API Using HttpClient</h2> -->
<!-- <app-fetchapi></app-fetchapi> -->
<!-- <app-student-list></app-student-list> -->

<!-- <app-fetchapi></app-fetchapi> -->

//////////////////********************////////////
/////////////////@input @output exmple ********///////////////


<app-test [parentData]="message" (eventEmitter1)="AddItem($event)" ></app-test>
<div>item from child component: <b>{{ Items }}</b>
</div>

//////////////////********************////////////
/////////////////@input @output exmple ********///////////////



//////////////////********************////////////
/////////////////custom pipe example ********///////////////
<div class="age-con">
    <app-custom-pipe-practice (eventEmitter2)="AddItem2($event)"></app-custom-pipe-practice>
    <div>Age of: <b>{{ Item2 }}</b></div>
</div>




//////////////////********************////////////
/////////////////pure and impure pipe ********///////////////

<app-users></app-users>

////////////////************************////////////////


//////////////////********************////////////
///////////////// ****component hook in action practice****///////////////

<h1>Component Hooks in action</h1>
<app-child></app-child>

